#icon img {
    cursor: pointer;
}

#icon {
    list-style-type: none;
    padding: 0;
    display: flex; /* Ajout de flexbox */
}

.listeRubrique {
    padding: 0 0 5em 0; /* Espace entre les éléments */
}

.listeRubrique img:hover {
    height: 110%;
}

.listeRubrique img {
    vertical-align: middle; /* Aligner l'image avec le texte */
}

#Menu
{
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 15px;
}
